.navbarCT {
  background-color: #5b6f55;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
}

.text-menu {
  font-family: "Lobster", cursive;
  color: #ffffff !important;
}

#header .logoFb {
  margin-left: 35px;
  color: #ffffff;
}
#header .logoIns {
  margin-left: 10px;
  color: #ffffff;
}

#header a {
  color: #ffffff;
}

#header img {
  width: 80px;
  border-radius: 35%;
  box-shadow: 0px 0px 15px 15px #fffb00;
  -webkit-box-shadow: 0px 0px 15px 5px #fbff00;
}

/* Row container */
.izquierdaCT {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.izquierdaCT div h2 {
  text-align: center;
}
.izquierdaCT div h3 {
  text-align: center;
}
.izquierdaCT div a {
  text-align: center;
}
.izquierdaCT div P {
  text-align: center;
}

#curiosidades li {
  text-align: left;
}

#cuidados li {
  text-align: left;
}

.side {
  flex: 20%;
  background-color: #e1ff8f;
  padding: 20px;
}

/* Main column */
.derechaCT {
  flex: 80%;
  background-color: rgb(245, 244, 167);
  padding: 20px;
  text-align: center;
}

.card {
  background-color: rgba(186, 214, 141, 0);
  border: #ff000000;
  border-radius: 20px;
  padding: 5px;
  width: 70px;
  height: 350px;
  text-align: center;
  align-items: center;
}

.card img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}

@media only screen and (max-width: 575px) {
  #carta {
    margin-left: 150px;
  }
}

#footerCT {
  text-align: center;
  background-color: #5b6f55;
  height: 50pt;
}

#footerCT a {
  color: black;
}

#footerCT .logo {
  margin-left: 10%;
  margin-right: 10%;
}
