.navbarps {
  background-color: #962e7fef;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
}

.text-menu {
  font-family: "Lobster", cursive;
  color: #ffffff !important;
}

#header .logoFb {
  margin-left: 35px;
  color: #ffffff;
}
#header .logoIns {
  margin-left: 10px;
  color: #ffffff;
}

#header img {
  width: 80px;
  border-radius: 35%;
  box-shadow: 0px 0px 15px 15px #fffb00;
  -webkit-box-shadow: 0px 0px 15px 5px #fbff00;
}

#header a {
  color: #ffffff;
}

/* Row container */
.side {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.izquierdaps {
  flex: 25%;
  background-color: #c6b1d3;
  padding: 20px;
}

/* Main column */
.derechaps {
  flex: 75%;
  background-color: rgb(247, 221, 239);
  padding: 25px;
  align-items: center;
  height: 1000px;
  overflow: scroll;
}

#carta{
  margin-bottom: 2%;
}

.card-title{
  position: relative;
  font-size:18px;
}

.card {
  background-color: rgba(186, 214, 141, 0);
  border: #ff000000;
  border-radius: 20px;
  padding: 5px;
  width: 70px;
  height: 350px;
  text-align: center;
  align-items: center;
}

.card img {
  width: 200px;
  height: 100%;
  border-radius: 20px;
}

.cardt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  background: #26262600;
  overflow: hidden;
}

.cardt .details {
  width: 200px;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
}

.cardt .details {
  background: #262626b6;
  top: 0;
  left: 300%;
  border-radius: 20px;
}
.cardt:hover .details {
  top: 0;
  left: 0;
}
.cardt .details h2 {
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-size: 28px;
  padding: 3px;
}
#properties {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: italic;
}

.cardt .details .description {
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  padding: 3px;
}

.imgBx2 img{
  height:270px;
  width: 200px;
}

/* Footer */

#footerps {
  text-align: center;
  background-color: #962e7fef;
  height: 50pt;
  font-weight: bold;
}

#footerps a {
  color: black;
}

#footerps .logo {
  margin-left: 10%;
  margin-right: 10%;
}


/* Media qery */
@media only screen and (max-width: 575px) {
  #carta {
    margin-left: 150px;
  }

  #nameLargo{
    top: -18px
  }

  #namexLargo{
    top: -34px
  }
}

@media only screen and (max-width: 376px) {
    .cardt:hover .details {
    top: 0;
    left: 0%;
    }
}
