.navbarps {
  background-color: #962e7fef;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
}

.text-menu {
  font-family: "Lobster", cursive;
  color: #ffffff !important;
}

#header .logoFb {
  margin-left: 35px;
  color: #ffffff;
}
#header .logoIns {
  margin-left: 10px;
  color: #ffffff;
}

#header img {
  width: 80px;
  border-radius: 35%;
  box-shadow: 0px 0px 15px 15px #fffb00;
  -webkit-box-shadow: 0px 0px 15px 5px #fbff00;
}

#header a {
  color: #ffffff;
}

/* Row container */
.side {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.izquierdaps {
  flex: 25%;
  background-color: #c6b1d3;
  padding: 20px;
}

/* Main column */
.derechaps {
  flex: 75%;
  background-color: rgb(247, 221, 239);
  padding: 20px;
  align-items: center;
  height: 1000px;
  overflow: scroll;
}

#carta{
  margin-bottom: 2%;
}

.card {
  background-color: rgba(186, 214, 141, 0);
  border: #ff000000;
  border-radius: 20px;
  padding: 5px;
  width: 70px;
  height: 350px;
  text-align: center;
  align-items: center;
}

.card img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}


@media only screen and (max-width: 575px) {
  #carta {

    margin-left: 150px;
  }
}

#footerps {
  text-align: center;
  background-color: #962e7fef;
  height: 50pt;
}

#footerps a {
  color: black;
}

#footerps .logo {
  margin-left: 10%;
  margin-right: 10%;
}
