.navbar{
  background-color: #b81e73;
}

.navbar-brand{
  font-family: 'Dancing Script', cursive;
}

.text-menu {
  font-family: 'Lobster', cursive;
  color: #ffffff !important;
}


#header .logoFb{
  margin-left: 35px;
  color:#ffffff;
}
#header .logoIns{
  margin-left: 10px;
  color:#ffffff;
}

#header img {
  width: 80px;
  border-radius:35%;
  box-shadow: 0px 0px 15px 15px #fffb00;
  -webkit-box-shadow: 0px 0px 15px 5px #fbff00;
}

#header a {
color: #ffffff;
}

/* Row container */
.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.side {
  flex: 20%;
  background-color: #e1ff8f;
  padding: 20px;
}

.side img:hover {
  transform:scale(2);
  overflow:hidden
}

/* Main column */
.main {
  flex: 80%;
  background-color: rgb(245, 244, 167);
  padding: 20px;
  text-align: center;
}

.main img:hover {
  transform:scale(2);
  overflow:hidden
}

@media screen and (max-width: 700px) {

  .row,
  .menu {
      flex-direction: column;
  }
}


#footer {
  text-align: center;
  background-color: #962e7fef;
  height: 50pt;
}

#footer a {
  color: black;
}


#footer .logo {
  margin-left: 10%;
  margin-right: 10%;
}
